NEXT_PUBLIC_DEFAULT_NETWORK=mainnet
NEXT_PUBLIC_TESTNET_INVOICE_APP_ID=0
NEXT_PUBLIC_MAINNET_INVOICE_APP_ID=0
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

# Optional endpoint overrides
NEXT_PUBLIC_TESTNET_ALGOD=
NEXT_PUBLIC_TESTNET_INDEXER=
NEXT_PUBLIC_MAINNET_ALGOD=
NEXT_PUBLIC_MAINNET_INDEXER=
